*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: rgb(238,174,202);
    background: -moz-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: -webkit-radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eeaeca",endColorstr="#94bbe9",GradientType=1);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    /* background-color: #000000; */
    font-family: Arial, sans-serif;
    margin: 0;
}

.stopwatch {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.display {
    font-size:38px;
    margin-bottom: 20px;
}

.controls button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

#startStopBtn {
    background-color: #1A4D2E;
    color: white;
}


#lapBtn {
    background-color: #643579;
    color: white;
}

#resetBtn {
    background-color: #B80000;
    color: white;
}

.laps {
    margin-top: 20px;
    text-align: left;
}

.laps h2 {
    margin-bottom: 15px;
}

#lapsList {
    max-height: 200px;
    overflow-y: auto;
}

#lapsList li {
    padding: 5px 0;
    border-bottom: 1px solid #ddd;
}

footer p{
    font-family: Comic Sans MS, Comic Sans, cursive;
    display: grid;
    text-align: center;
    font-size: 25px;
}